* .intro{
    overflow: visible;
    scroll-behavior: smooth;
}
.stock, tr, th, td{
    border: solid #9e0e0994 0.13rem;
    padding: 1.25rem 0.625rem 1.25rem 0.625rem;
    background-color: white;
    font-size: large;
}
.stock, tr, td{
    padding: 0.9rem 6.25rem 0.9rem 0.3rem;
}
.stock{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.order{
    padding:0px;
    display: inline-block;
 
    font-size: large;
    line-height: 2rem;
}
.order input[type="checkbox"]{
    font-size: large;
    border-radius: 1px;
}
.order input[type="text"]{
    font-size: large;
    border-radius: 5px;
}
.order input[type="email"]{
    font-size: large;
    border-radius: 5px;
}
#submit{
        font-weight: 700;
		font-size: 1em;
		color: #111;
		background: #fefefe;
		box-shadow: 0px 4px 0px 0px #d26a60;
		border-style: none;
		padding: 5px 25px;
		margin: 25px 0 15px 0;
		position: relative;
		display: inline-block;
		transition: all .1s linear;
        cursor: pointer;
        border-radius: 5px;
}
#submit:active{
    box-shadow: 0 2px 0 #d26a60;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -ms-transform: translateY(3px);
}
.quan{
    width: 35px;
    font-size:medium;
}
#insta{
    color: #9e0e0994;
}
@media screen and (min-width: 80px) and (max-width: 1080px){
    .stock{
        width: 75%;
    }
}
