.ordertxt{
    text-align: center;
    padding-top: 2rem;
    font-size: 2rem;
    position: relative;
}
.htobody{
    padding-left: 2rem;
    padding-top: 2rem;
}
.aboutusimg{
    border-radius: 14px;
}
.logoimg{
    width: 50%;
    height: 50%;
    margin: auto;
    padding-top: 2rem;
}
.aboutustextarea{
    width: 85%;
    margin: auto;
    padding-top: 2rem;
    line-height: 1.5rem;
}.personname{
    padding-top: 1rem;
    padding-left: 1.5rem;
}
.personpostion{
    padding-top: 1rem;
    padding-left: 2.5rem;
}
.phonenum{
    padding-top: 1rem;
    padding-left: 3rem;
}
.or{
    text-align: center;
    font-size: 2rem;
    padding-top: 2rem;
}
@media screen and (min-width: 800px) and (max-width: 2080px){
    .logoimg{
        width: 35%;
        height: 35%;
        margin: auto;
    }
    .aboutustextarea{
        width: 50%;
        line-height: 2rem;
        float: right;
        padding-right: 8rem;
        padding-top: 5rem;
    }
    .logoimg{
        float: left;
        padding-left: 6rem;
    }
}
.introt {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	max-height: 100%;
	overflow: hidden ;
}

/*Trying to do popup*/
.popup{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    overflow: hidden;
    position: fixed;
    z-index: 9000;
    text-align: center;
    display: none;
}
.poptoparea{
    opacity: initial;
    height: 3rem;
    border-bottom: 2px solid black;
    border-bottom: dotted;
    text-align: center;
}
.thex{
    height: 2rem;
    width: 2rem;
    padding-top: 1rem;
    padding-right: 1rem;
    float: right;
    cursor: pointer;
}
.popcontent{
    width: 50%;
    height: 75%;
    background-color: #dc7f8e;
    margin: auto;
    margin-top: 5rem;
    color:black ;
    border-radius: 14px;
    opacity: solid;
}
.popbody{
    background-color: white;
    width: 100%;
    height: 100%;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
/*Ends Here*/